#header {
    background-color: #FFFFFF;
    text-align: center;
}

body {
    background-color: #FFFFFF;
}

#container {
    background-color: #FFFFFF;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

